* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

.word-display {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#inputField {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #121212;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
}

#inputField:focus {
  outline: none;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 700;
  background-color: #353434;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #252525;
}

#startMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#settingsMenu input{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #121212;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}